Django
social-auth-core
social-auth-app-django
requests==2.3
toolz
urllib3==1.24.2
xhtml2pdf
html5lib==1.0b8
unidecode
num2words
mysqlclient==1.3.12
psycopg2
dj-database-url
gunicorn
whitenoise
psycopg2-binary
